*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #333;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 36rem;
  height: 45rem;
  background: #111;
  overflow: hidden;
  border-radius: 8px;

  position: relative;
}

.container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, transparent, #02c2f2);

  position: absolute;
  left: -50%;
  top: -50%;
  transform-origin: right bottom;

  animation: animate 4s linear infinite;
}

.container::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, transparent, #02c2f2);

  position: absolute;
  left: -50%;
  top: -50%;
  transform-origin: right bottom;
  transform: rotate(180deg);

  animation: animate2 4s linear infinite;
  /* animation-delay: 2s; */
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(540deg);
  }
}

.form {
  position: absolute;
  inset: 3px;
  background: #222;
  border-radius: 8px;
  padding: 3rem;

  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  color: #02c2f2;
  font-size: 3rem;
}

.input-box {
  position: relative;
  width: 90%;
}

.label {
  position: absolute;
  left: 1rem;
  top: 0;
  color: white;
  font-size: 1.4rem;
  transform: translateY(1.5rem);
  letter-spacing: 1.3px;
  opacity: 0.2;

  transition: all 0.3s;
}

.input:focus + .label {
  transform: translateY(-2.2rem);
  font-size: 1.2rem;
  left: 0;
  color: #02c2f2;
  opacity: 0.8;
}

.input:valid + .label {
  transform: translateY(-2.2rem);
  font-size: 1.2rem;
  left: 0;
  color: #02c2f2;
}

.input-box {
  position: relative;
}

.input-before {
  background: #02c2f2;

  position: absolute;
  left: 0;
  bottom: 0;

  height: 3px;
  width: 100%;
  border-radius: 8px;
  pointer-events: none;
  /* z-index: 10; */

  transition: all 0.3s;
}

.input:focus ~ .input-before {
  height: 100%;
}

.input:valid ~ .input-before {
  height: 100%;
}

.input {
  padding: 1.5rem 3rem;
  border-radius: 8px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  width: 100%;
  z-index: 10;

  position: relative;
}

.input:focus {
  outline: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.forgot:link,
.forgot:visited {
  color: #676565;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.forgot:hover {
  color: #02c2f2;
}

.signup:link,
.signup:visited {
  color: #02c2f2;
  text-decoration: none;
  font-size: 1.2rem;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
}

.button {
  color: #212121;
  background-color: #02c2f2;
  border: none;
  border-radius: 8px;
  padding: 1.5rem 3rem;

  font-size: 1.6rem;
  font-weight: 700;
}

.dev:link,
.dev:visited {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  font-size: 1.8rem;
  font-weight: 700;
}

/* RESPONSIVE */

@media only screen and (max-width: 34.375em) {
  html {
    font-size: 56%;
  }
}
